<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Available Rooms</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Room Number</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rooms:${rooms}">
                <td th:text="${rooms.roomNumber}"></td>
                <td th:text="${rooms.amount}"></td>
                <td th:text="${rooms.status}"></td>
                <td>

                    <a th:href="@{/booking(room_no=${rooms.roomNumber})}" class="btn btn-primary">Book</a>
                    <a th:href="@{/book_checkin(room_no=${rooms.roomNumber})}" class="btn btn-primary">Book-checkin</a>
<!--                    <a class="btn btn-danger" th:if="${user.role=='ADMIN'}">Delete</a>-->
<!--                    <a class="btn btn-primary" th:unless="${user.role=='ADMIN'}">View</a>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>