<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>room usage</title>
    <style>
        span{
            color: #e74c3c;
            font-weight: bold;
        }
        strong {
            color: #5b5b0c;
        }
        .cancel{
            text-align: center;
        }

        .error{
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="cancel">Room Usage</h1>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>RoomNumber</th>
                <th>BookedDate</th>
                <th>BookedStartDate</th>
                <th>BookedEndDate</th>
                <th>Checkin</th>
                <th>CheckinDate</th>
                <th>CheckedOutDate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="info:${bookedInfo}">
                <td th:text="${info.firstName}"></td>
                <td th:text="${info.lastName}"></td>
                <td th:text="${info.getRoom().roomNumber}"></td>
                <td th:text="${info.bookedDate}"></td>
                <td th:text="${info.bookedStartDate}"></td>
                <td th:text="${info.bookedEndDate}"></td>
                <td th:text="${info.getCheckIn}"></td>
                <td th:text="${info.getCheckInDate()}"></td>
                <td th:text="${info.getCheckOutDate}"></td>

            </tbody>
        </table>

    </div>
</div>
<br>
<br>
<br>
<p class="cancel"><a th:href="@{/admin}" class="btn btn-primary">Cancel</a></p>
</body>
</html>